:root {
    --accent: #396448;
    --beige: #AB8264;
    --light_beige: #EFE9E3;
    --accent_hover: #56986E;
    --text: #272727;
    --white: #F9F4F0;

    font-size: 62.5%;
}

@font-face {
    font-family: "Raleway Regular";
    src: url("../fonts/Raleway/Raleway.ttf") format("truetype");

}

@font-face {
    font-family: "Raleway Regular";
    src: url("../fonts/Raleway/raleway-v34-latin-regular.woff2") format("woff2");
}

@media (width >= 1024px){
    ::-webkit-scrollbar {
        display: none;
    }

    h3 {
        font-size: 2.4rem;
    }

    .header__wrapper {
        top: 2rem;
        margin: 0 auto;
        padding: 0 14.2rem;
        left: 0;
        right: 0;
        max-width: 162.4rem;
        z-index: 1;
    }

    .header__nav_contact {
        gap: 13.3rem;
        margin: 1.65rem 1rem 1.65rem 0;
    }

    .header__tel {
        display: block;
        font-size: 2rem;
        line-height: 120%;
    }

    .about__wrapper {
        display: flex;
        gap: 3.5rem;
        justify-content: space-between;
        margin: 0 auto 10rem;
        max-width: 162.4rem;
        padding: 0 14.2rem;
    }

    .about__desc_container {
        min-width: 34.4rem;
        max-width: none;
        margin: 14.7rem 0 0;
    }

    .about h1 {
        color: #272727;
        text-align: left;
        font-size: 4.8rem;
        line-height: 5.76rem;
        margin: 0;
        letter-spacing: .004em;
    }

    .about__description {
        color: #272727;
        text-align: left;
        margin: 2rem 9.5rem 4.6rem 0.1rem ;
    }

    .about__buttons {
        display: flex;
        justify-content: start;
        max-width: 31rem;
        margin: 0;
    }

    .about__button_dog, .about__button_whatsapp {
        padding: 2rem;
    }

    .about__container_img {
        position: static;
        background-image: url("../images/титульный_пес.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }

    .about__search {
        display: flex;
        gap: 1.2rem;
        justify-content: space-between;
        color: #272727;
        margin: 50.5rem 0.7rem 4.8rem 1.1rem;
        white-space: nowrap;
        padding: 2rem 3rem 2rem 2rem;
        background-color: var(--light_beige);
        border-radius: 2rem;
    }

    .search__image {
        margin: 0.2rem;
        width: 2.4rem;
        height: 2.4rem;
    }

    .search__text{
        padding:  0.2rem 0;
        min-width: 33.2rem;
        letter-spacing: -.02em;
        border: 0;
        background-color: var(--light_beige);
    }

    .search__text::placeholder {
        background-color: var(--light_beige);
        font-family: "Raleway Regular";
        font-size: 1.8rem;
        line-height: 2.52rem;
        color: var(--text);
    }

    .about__image {
        display: none;
    }

    .about_nursery__wrapper {
        margin: 10rem auto 7rem;
        padding: 0 14.2rem;
        max-width: 162.4rem;
    }

    .about_nursery__container {
        display: grid;
        grid-template-columns: 23% auto 20% 31%;
        gap: 2rem;
        text-align: left;
    }

    .about_nursery_svg {
        display: block;
        position: absolute;
        right: -1.309rem;
        bottom: -2.909rem;
        transform: rotate(-20deg);
    }

    .about_nursery__first_text {
        width: 100%;
        height: 100%;
        grid-column: 2 / span 2;
        grid-row: 1 / span 1;
        padding: 3rem 3.7rem 3rem 2.6rem;
        margin: 0;
        font-size: 1.6rem;
        line-height: 1.76rem;
        letter-spacing: .05em;
        float: left;
        position: relative;
    }

    .about_nursery__second_text {
        width: 100%;
        height: 100%;
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        padding: 2rem 4.7rem 2rem 2rem;
        margin: 0;
        line-height: 1.68rem;
        max-width: none;
    }

    .about_nursery__third_text {
        display: block;
        width: 100%;
        height: 100%;
        grid-column: 4 / span 1;
        grid-row: 2 / span 1;
        padding: 2rem 2.5rem 2rem 2rem;
        margin: 0;
        line-height: 1.68rem;        
        max-width: none;
    }

    .about_nursery__image_first, .about_nursery__image_second, .about_nursery__image_third {
        height: 100%;
        width: 100%;
    }

    .about_nursery__image_first {
        background-image: url("../images/about_nursery_first_tablet.jpg");
    }

    .about_nursery__image_second {
        background-image: url("../images/about_nursery_second_tablet.jpg");
        max-width: none;
    }

    .about_nursery__image_third {
        border-radius: 2rem;
        background-image: url("../images/about_nursery_third_tablet.jpg");
    }

    .our_puppies__wrapper {
        margin: 7rem 0 10rem;;
    }

    .our_puppies__container_of_button {
        display: flex;
        justify-content: center;
    }

    .our_puppies__list_of_buttons {
        padding: 0;
        gap: 1rem;
    }

    .our_puppies__button {
        letter-spacing: .05em;
        padding: 2rem;
    }

    .our_puppies__lists {
        padding: 6rem 14.2rem;
        border-radius: 5rem;
    }

    .lists__black_chij {
        justify-content: start;
        padding: 0;
        gap: 2rem;
        margin: 4rem auto;
    }

    @media (width >= 1404px) {
        .lists__black_chij {
            justify-content: center;
        }
    }

    .lists__button_of_black_chij {
        width: 36rem;
        height: 31.2rem;
        padding: 23.4rem 1rem 2rem 3rem;
    }

    .lists__title_first, .lists__title {
        margin: 0;
        font-size: 2.4rem;
    }

    .lists a{
        padding: 2rem 6.15rem;
    }

    .best_choice__wrapper {
        margin: 10rem auto 9rem;
        padding: 0;
        max-width: 162.4rem;
    }

    .best_choice_image {
        top: 8.3rem;
        width: 36rem;
        height: 42.2rem;
    }

    .best_choice__list{
        display: grid;
        justify-content: center;
        grid-template-columns: minmax(360px, 430px) minmax(360px, 430px) ;
        grid-template-rows: 160px 160px;
        gap: 2rem;
        margin: 26.4rem 14.2rem 0;
    }

    .best_choice__item {
        padding: 0;
        width: 100%;
        margin: 0;
    }

    .best_choice__title {
        margin: 6.1rem 3.4rem 1rem 2.9rem;
        font-size: 2.4rem;
    }

    .best_choice__text{
        margin: 1rem 12.3rem 2rem 2.9rem;
    }

    .best_choice__text_3 {
        margin: 1rem 6.4rem 2rem 2.9rem;
    }

    .best_choice__svg {
        width: auto;
        height: auto;
        top: 0;
        right: -3.5rem;
        overflow: hidden;
    }

    .best_choice__svg_2 {
        right: -1.5rem;
    }

    .best_choice__svg_3 {
        top: -1.5rem;
        right: -0.8rem;
    }

    .best_choice__text_3 {
        letter-spacing: 0;
    }

    .best_choice__svg_4 {
        right: -0.3rem;
    }

    .about_breed__wrapper {
        margin: 9rem 0 10rem;
    }

    .about_breed__container_of_button {
        display: flex;
        justify-content: center;
    }

    .about_breed__list {
        padding: 0;
        gap: 1rem;
        letter-spacing: .05em;
    }

    .about_breed__button {
        padding: 2rem;
        letter-spacing: .05em;
    }

    .breeds {
        padding: 6rem 14.2rem;
        border-radius: 5rem;
    }

    .breeds h2 {
        margin: 0 0 4rem;
    }

    .breeds__list {
        display: grid;
        grid-template-columns: 31% 15% auto 31%;
        grid-template-rows: auto auto auto;
        gap: 2rem;
        max-width: 134rem;
    }

    .breeds__adaptability, .breeds__care, .breeds__activity {
        display: block;
    }

    .breeds__image {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .breeds__appearance {
        grid-column: 3 / span 2;
        grid-row: 1 / span 1;
        width: 100%;
        padding: 2rem;
    }

    .breeds__personality {
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
        width: 100%;
        padding: 2rem;
    }

    .breeds__adaptability {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        width: 100%;
        padding: 2rem 1.1rem 2rem 2rem;
    }

    .breeds__care {
        grid-column: 2 / span 2;
        grid-row: 3 / span 1;
        width: 100%;
        padding: 2rem 1.1rem 2rem 2rem;
    }

    .breeds__activity{
        grid-column: 4 / span 1;
        grid-row: 3 / span 1;
        width: 100%;
        padding: 2rem 1.1rem 2rem 2rem;
    }

    .breeds__text_1 {
        margin: 2rem 0 0;
    }

    .breeds__paws {
        margin: 0.4rem 0 0;
    }

    .breeds__paws_1 {
        margin: 0.4rem 0 0.6rem;
    }

    .breeds a {
        padding: 2rem 7.55rem;
    }

    .frequent_question__wrapper {
        margin: 10rem auto 9rem;
        padding: 0 14.2rem;
        max-width: 162.4rem;
    }

    .frequent_question__text {
        margin: 2rem 13.6rem 4rem;
        word-spacing: -.06em;
        letter-spacing: -0.017em;
    }

    .frequent_question__details {
        padding: 3rem;
    }

    .frequent_question__question {
        font-size: 2.4rem;
    }

    summary::before {
        display: inline-block;
        content: url("../svg/summary_tablet.svg");
        width: 3.2rem;
        height: 3.2rem;
    }

    details[open] > summary::before {
        transform: rotate(45deg);
        width: 3.2rem;
        height: 3.2rem;
    }

    .frequent_question__answer {
        margin: 3.5rem 0 0;
    }

    .knowledge_base__wrapper {
        margin: 9rem 0 10rem;
    }

    .knowledge_base__container_of_buttons {
        display: flex;
        justify-content: center;
    }

    .knowledge_base__list {
        padding: 0;
    }

    .knowledge_base__button {
        letter-spacing: .05em;
        padding: 2rem 1rem;
    }

    .knowledge {
        padding: 6rem 0;
        margin: 5rem auto 0;
        border-radius: 5rem;
    }

    .knowledge__list {
        justify-content: start;
        padding: 0 ;
        gap: 2rem;
        margin: 4rem 14.3rem;
    }

    @media (width >= 1404px) {
        .knowledge__list {
            justify-content: center;
        }
    }

    .knowledge__link {
        width: 36rem;
        font-size: 2.4rem;
        padding: 26.3rem 2rem 2rem
    }

    .knowledge__container_button a {
        padding: 2rem 5.8rem;
    }

    .nursery_life__wrapper {
        margin: 10rem auto;
        padding: 0 14.2rem;
        max-width: 162.4rem;
    }

    .nursery_life__list {
        padding: 0;
        display: grid;
        grid-template-columns: 48% auto;
        grid-template-rows: auto auto auto;
        gap: 2rem;
    }

    .nursery_life__item {
        display: flex;
        width: 100%;
    }

    .nursery_life__item_1 {
        flex-direction: column;
        grid-row: 1 / span 3;
        grid-column: 1 / span 1;
    }

    .nursery_life__item_2 h3, .nursery_life__item_3 h3, .nursery_life__item_4 h3 {
        font-size: 1.4rem;

    }

    .nursery_life__image {
        width: 17rem;
        height: 100%;
        object-fit: cover;
        object-position: center;
        margin: 0;
        flex-grow: 1;
    }

    .nursery_life__details {
        pointer-events: none;
    }

    .nursery_life__image_title {
        width: 100%;
        height: auto;
        aspect-ratio: 360 / 200;
    }

    .description {
        padding: 3.75rem 2rem;
        margin: 0;
        height: 100%;
    }

    .description1 {
        min-height: 21.8rem;
        padding: 2rem;
        height: auto;

    }

    .description__title{
        margin: 0 0 1rem;
        word-spacing: -.07em;
        letter-spacing: .02em;
    }

    .description__text{
        margin: 1rem 0 2rem;
        letter-spacing: -0.01em;
        word-spacing: -0.05em;
    }

    .dash {
        display:inline;
    }

    .author__text, .date__text{
        font-size: 1rem;
    }

    .nursery_life__button {
        display: block;
    }

    .nursery_life a {
        padding: 2rem 5rem;
    }

    .nursery_life__mobile {
        display: none;
    }


    .help__wrapper {
        margin: 10rem auto;
        padding: 0 14.2rem;
        max-width: 162.4rem;
    }

    .help__text {
        margin: 2rem 12.6rem 4rem;
    }

    .help__form {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-rows: auto auto;
        gap: 2rem;
        margin: 4rem 0;
        width: 100%;
        height: 100%;
    }

    .help__form label {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }

    .label__name {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        width: 100%;
    }

    .label__email {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        width: 100%;
    }

    .help__label_message {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        width: 100%;
        height: 100%;
    }

    .help__image {
        display: none;
    }

    .help__form_image {
        height: 100%;
        width: 100%;
        aspect-ratio: 360 / 260;
        overflow: hidden;
        background-image: url("../images/мы_всегда_рады_помочь.jpeg");
        background-size: cover;
        background-position: center;
        border-radius: 3rem;
    }

    .help__form input {
        margin: 0;
        width: 100%;
    }

    .help__input_message {
        flex-grow: 1;
        padding: 2rem 2rem 18.695rem;
    }

    .help__container_button button {
        padding: 2rem 7.7rem;
    }


    .footer {
        padding: 6rem 14.2rem 9rem;
    }

    .footer__wrapper {
        padding: 0;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column-reverse;
        gap: 4rem;
        max-width: 133.8rem;
    }

    .footer__wrapper_contact {
        margin: 0;
        display: flex;
        gap: 4rem;
        justify-content: space-between;
    }

    .footer__link_logo {
        margin: 0;
    }

    .footer__container_of_contacts {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 0;
    }

    .container_of_contacts__contacts {
        margin: 0;
    }

    .footer__contacts {
        margin: 0 0 1rem;
    }

    .footer__list_of_contacts {
        margin: 0;
        display: flex;
        gap: 0.6rem;
        flex-direction: column;
    }

    .footer__item_of_contacts {
        margin: 0;
        display: flex;
        gap: 2rem;
        height: 2.6rem;
    }

    .footer__link_of_contacts, .footer__image_telephone, .footer__image_mail {
        margin: 0;
        align-self: center;
    }

    .container_of_contacts__social_network {
        margin: 0;
    }

    .footer__list_of_social_network {
        margin: 0 0 3.1rem;
        display: flex;
        gap: 1rem;
        justify-content: right;
    }

    .footer__item_of_social_network {
        margin: 0;
    }

    .footer__link_of_social_network {
        display: block;
        width: 5rem;
        height: 5rem;
    }

    .footer__oferta, .footer__confidentiality {
        font-size: 1.4rem;
        line-height: 140%;
    }

    .footer__list_of_lists {
        margin: 0;
        gap: 2rem;
        justify-content: space-between;
    }

    .footer__list_of_lists h3{
        margin: 0 0 2rem;
    }

    .footer__item_of_lists {
        padding: 0;
        margin: 0;
    }

    .footer__list {
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    .footer__item {
        margin: 0;
    }
    
}